{% extends 'base.html' %}

{% block title %} Test Modal {% endblock %}

{% block header %} Test Modal {% endblock %}

{% block content %}
    <!-- the trigger -->
    <button type="button" class="btn" data-toggle="modal" data-target="#my_modal">Open Modal</button>

    <!--modal-->
    <div id="my_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">The header...</h4>
                </div>

                <div class="modal-body">
                    <p>Are you sure you want to go to the index page?</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



{% endblock %}