-i https://pypi.org/simple/
bidict==0.21.2
bootstrap-flask==1.4
click==8.0.1
dnspython==2.1.0
email-validator==1.1.2
faker==4.1.1
flask-avatars==0.2.2
flask-ckeditor==0.4.4.1
flask-limiter==1.3.1
flask-login==0.5.0
flask-moment==0.10.0
flask-socketio==4.3.1
flask-sqlalchemy==2.4.4
flask-wtf==0.14.3
flask==1.1.2
greenlet==1.1.0 ; python_version >= '3'
gunicorn==20.0.4
idna==3.2
importlib-metadata==4.5.0 ; python_version < '3.8'
itsdangerous==2.0.1
jinja2==3.0.1
limits==1.5.1
markupsafe==2.0.1
pillow==8.2.0
python-dateutil==2.8.1
python-dotenv==0.14.0
python-engineio==4.2.0
python-http-client==3.3.2
python-socketio==5.3.0
sendgrid==6.4.3
six==1.16.0
sqlalchemy==1.4.17
starkbank-ecdsa==1.1.1
text-unidecode==1.3
typing-extensions==3.10.0.0 ; python_version < '3.8'
werkzeug==2.0.1
wtforms[email]==2.3.1
zipp==3.4.1
