<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bill-Flask Website{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/gif" href="{{url_for('static', filename='photos/favicon.png') }}">
</head>
<body>
    <div id="wholepage">

    {% from "bootstrap/nav.html" import render_nav_item %}

    <h1 id="header-page">{% block header %} Welcome To Bill - Flask Website {% endblock %}</h1>



    {% for message in get_flashed_messages() %}
        <div class="message-alert">{{message}}</div>
    {% endfor %}

    {% block nav %}
    <section id="section-navigation" class="bar-rounded">
        <nav class="nav-bar">
            {{render_nav_item('main.index', 'Home') }}
            {{render_nav_item('main.about', 'About') }}

            {{render_nav_item('main.question_new', 'New Question') }}

            {% if current_user.is_authenticated %}
                <small class="nav-username">Hi, {{current_user.username}}</small>
                <div class="float-right">{{render_nav_item('auth.logout', 'Logout') }}</div>
            {% else %}
                {{render_nav_item('auth.register', 'Register') }}
                <div class="float-right">{{render_nav_item('auth.login', 'Login') }}</div>
            {% endif %}

        </nav>
    </section>
    {% endblock %}


    <section id="section-content">
        {% block content%} {% endblock %}
    </section>


    {%block footer %}
    <footer class="bar-rounded">
        &copy;Bill Chen; <a href="https://github.com/lazytosay/flask_website">Github</a>
    </footer>
    {% endblock %}

    <script>
        {% block scripts %}
            {{bootstrap.load_css()}}
            {{bootstrap.load_js()}}
            {{moment.include_jquery()}}
            {{moment.include_moment()}}
        {% endblock %}
    </script>

    </div>
</body>
</html>