<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bill-Flask Website{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/gif" href="{{url_for('static', filename='photos/favicon.png') }}">
</head>
<body>
    <div id="wholepage">

    {% from "bootstrap/nav.html" import render_nav_item %}


    {% block nav %}
    <section id="section-navigation">
        <nav class="nav-bar">
            <div class="title">{{render_nav_item('main.index', 'XYZ-DATABASE') }}</div>
            {{render_nav_item('main.about', 'About') }}

            <form class="search" method="post" action="{{url_for('main.search') }}">
                <label class="search-box-label" for="search-box">Search</label>
                <input type="text" id="search-box" name="keyword">
                <input type="submit">
            </form>

            {% if current_user.is_authenticated %}
                <small class="nav-username">Hi, {{current_user.username}}</small>
                <div class="float-right">{{render_nav_item('auth.logout', 'Logout') }}</div>
            {% else %}
                {{render_nav_item('auth.register', 'Register') }}
                <div class="float-right">{{render_nav_item('auth.login', 'Login') }}</div>
            {% endif %}

        </nav>
    </section>
    {% endblock %}

    <section id="section-sidebar-left">
        {% block sidebar_left %}
        {% include 'main/_sidebar_left.html' %}
        {% endblock %}
    </section>

    <section id="section-sidebar-right">
        {% block sidebar_right %}
        {% include 'main/_sidebar_right.html' %}
        {% endblock %}
    </section>







    <section id="section-content">
        <h1 id="header-page">{% block header %} Welcome To Bill - Flask Website {% endblock %}</h1>

        {% for message in get_flashed_messages() %}
        <div class="message-alert">{{message}}</div>
        {% endfor %}


        {% block content%} {% endblock %}
    </section>


    {%block footer %}
    <footer class="bar-rounded">
        &copy;Bill Chen; <a href="https://github.com/lazytosay/flask_website">Github</a>
    </footer>
    {% endblock %}

    <script>
        {% block scripts %}
            {{bootstrap.load_css()}}
            {{bootstrap.load_js()}}
            {{moment.include_jquery()}}
            {{moment.include_moment()}}
        {% endblock %}
    </script>

    </div>
</body>
</html>