div#wholepage{
}

body{
    margin: 0px 5px;
}

h1#header-page{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}



section#navigation{
    background-color: #f2f2f2;
    padding: 5px;
    margin: 0px;
    margin-bottom: 5px;
}

a.nav-item{
    color: black;
    list-style-type: none;
    display: inline;
    font-weight: bold;
    margin: 5px;
    text-decoration: none;
    font-size: 120%;
}

a.active{
    background-color: #ccccff;
    padding: 10px 1px;
    border-radius: 5px;
}

footer{
    background-color: #f2f2f2;
    bottom: 0;
    text-align: center;
    font-size: 80%;
    margin-top: 10px;
}

a{
    text-decoration: none;
}

.bar-rounded{
    border-radius: 5px;
}

div.error-description{
    text-align: center;
    font-size: 150%;
}

div.error-code{
    font-size: 300%;
    text-align: center;
    color: red;
}

.float-right{
    float: right;
}

div.message-alert{
    text-align: center;
    margin: 5px;

}